<%- include("partials/navbarUser") %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <img src="<%= menu.imageUrl %>" class="card-img-top" />
        <div class="card-body">
          <h3><%= menu.name %></h3>
          <p><%= menu.description %></p>
          <h5><%= menu.formatPrice %></h5>
          <p>Stock : <%= menu.stock %></p>
          <form action="/orders/add/<%= menu.id %>" method="POST">
            <label> Quantity </label>
            <input type="number" name="quantity" class="form-control" />
            <br />
            <button class="btn btn-dark w-100">Order</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") %>
