<%- include("partials/navbarUser") %>

<h2>Order Coffee</h2>

<form action="/orders/add/<%= menu.id %>" method="POST">

  <div class="mb-3">
    <label>Menu</label>
    <input
      type="text"
      class="form-control"
      value="<%= menu.name %>"
      readonly
    >
  </div>

  <div class="mb-3">
    <label>Price</label>
    <input
      type="text"
      class="form-control"
      value="<%= formatRupiah(menu.price) %>"
      readonly
    >
  </div>

  <div class="mb-3">
    <label>Stock</label>
    <input
      type="text"
      class="form-control"
      value="<%= menu.stock %>"
      readonly
    >
  </div>

  <div class="mb-3">
    <label>Quantity</label>
    <input
      type="number"
      name="quantity"
      class="form-control"
      min="1"
      required
    >
  </div>

  <button class="btn btn-dark">
    Order Now
  </button>

</form>

<%- include("partials/footer") %>
